{% extends 'base.html.twig' %}

{% block title "Genre : " ~ genre.title %}

{% block body %}
    <h1>{{ genre.title }}</h1>
    <ul>
        {% for song in genre.songs %}
        <li>
            <a href="{{ path('song.show', {id: song.id, slug: song.slug})}}">{{ song.title }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}