{% extends 'base.html.twig' %}

{% block title %}All Songs{% endblock %}

{% block body %}
<p>Blablabla</p>
<ul>
    {% for song in songs %}
        <li>
            <a href="{{ path('song.show', {id: song.id, slug: song.slug})}}">{{ song.title }}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
